@import url(https://fonts.googleapis.com/css?family=Prompt:100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100);
html{
    background-color: black;
    font-family: 'Roboto Mono';
    font-weight: 100;
}
text{
font-size: 10px;
}

h1{
  font-family: 'Prompt';
  font-weight: 100;
  color:white;
    background-color: 'black';
    }

p{
  color:white;
    background-color: 'black';
width:75%;
}

g > text.active{
font-size: 30px;
}

ellipse{
fill: none;
stroke: gray;
stroke-width: 0.5px;
}

ellipse.active {
fill:red;
opacity: .35;
stroke: orange;
stroke-width: 1px;
}

ellipse.inactive{
fill: none;
stroke: grey;
stroke-width: 0.5px;
}


  #table {
    position:fixed;
    left:20px;
    top:200px;
    z-index:1;
    background: translucent;
    border: 1px white solid;
    box-shadow: -3px -3px 5px #888888;
}
  tr {
    border: 1px gray solid;
}
  td {
    font-size: 13px;
}
td.data {
    font-weight: 900;
  }
tr.data {
    font-weight: 900;
  }

li a{
    color:white;
    border: 0.5px grey solid;
    border-radius: 1px;
    padding: 8px;
    display:inline-block;
    text-decoration:none;
}

li {
    display:inline-block;
    float:left;
    padding:8px;

}
li a:hover {
    background-color: #555;
    color: white;
}
